.menu_list_home {
  position: relative;
  top: 150px;
  margin: auto;
  width: 95%;
  padding-top: 1rem;
  margin-bottom: 10rem;
}

.flex_wrap {
  flex-wrap: wrap;
}

.display_flex {
  display: flex;
}

.menu_item {
  min-height: 150px;
  margin: 0 10px 40px;
  flex: 0 0 calc(25% - 30px);
}

.menu_banner {
  flex: 0 0 calc(50% - 35px);
  margin: 0 15px 40px 15px;
}

.menu_item,
.menu_item_image {
  position: relative;
}

.menu_item_image {
  box-shadow: 20px 20px 50px rgb(218, 218, 218);
}

.menu_item_info {
  font-size: var(--h5-font-size);
  color: #00000099 !important;
  margin: 20px 0;

}

.carousel {
  position: relative;
  top: 100px;
  width: 100%;
}

.menu_item_carousel {
  width: 100%;
}