.header {
  background-color: var(--header-color);
  z-index: 100;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.header-top ul {
  width: 100%;
  justify-content: center;
}

.nav__list {
  display: flex;
  cursor: pointer;
  /* justify-content: space-between; */
  width: 100%;
  column-gap: 2rem;
  align-items: center;
  justify-content: center;
}

.nav__list li &:hover {
  color: var(--hover-text-color);
}

.nav__link {
  color: var(--title-color);
  font-size: var(--large-font-size);
  font-weight: var(--weight-700);
}

.header-logo {
  width: 200px;
  height: 80px;
  cursor: pointer;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  opacity: 0.6;
}