.header-top {
  width: 100%;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-top ul {
  width: 100%;
  justify-content: center;
}


.header-main ul {
  width: 80%;
  justify-content: center;
}

.ant-dropdown-trigger {
  margin-top: 10px;
}

.header-main {
  top: 50px;
  width: 100%;
  position: absolute;
  /* top: 10px; */
  height: 50px;
  position: fixed;
  display: flex;
  justify-content: space-around;
  padding-bottom: 5px;
  /* border-bottom: 1px solid black; */
  /* background-color: lightgray; */
  transition: 0.5 ease-in-out;
}

.header-logo {
  width: 100px;
  height: 50px;
  cursor: pointer;
}


.rightMenu {
  position: relative;
  top: 10px;
  cursor: pointer;
  display: flex;
}

.item-in-cart {
  position: relative;
  top: -10px;
  right: -8px;
  background-color: red;
  border-radius: 50%;
  width: 16px;
  height: 16px;
}

.number-item {
  position: relative;
  top: -20px;
  left: 3px;
  color: white;
  z-index: 999
}

.avatar {
  position: relative;
  right: -15px;
  width: 40px;
  height: 40px;
  bottom: 5px;
}