.route {
  position: relative;
  align-items: center;
  top: 100px;
  margin-left: 1rem;
  margin: 0 0 5rem 8rem;
  padding-top: 2rem;
  z-index: 1;
}

.route>a {
  margin-right: 1rem;
  font-weight: var(--weight-550);
  cursor: pointer;
}

.product_detail {
  position: relative;
  display: flex;
  min-height: 100vh;
}


.image_detail {
  margin-left: 5rem;
  width: 50%;
  min-width: 500px;
  padding: 50px;
}

.product_info {
  width: 50%;
}

.product__info__item__list__item {
  cursor: pointer;
  border: 1px solid rgb(156, 156, 156);
  height: 3rem;
  margin: 1rem 1rem 1rem 0;
  justify-content: center;
  align-items: center;
  display: flex;
  border-radius: 5px;
  padding: 1rem;
}

.button_add {
  width: 80%;
  background-color: hsl(37, 100%, 50%);
  font-weight: var(--weight-500);
  color: white;
  margin-top: 2rem;
}

.active {
  background-color: hsl(37, 100%, 50%);
  color: white;
}

.product__info__item__list__topping {
  cursor: pointer;
  border: 1px solid rgb(156, 156, 156);
  height: 3rem;
  margin: 1rem 1rem 1rem 0;
  justify-content: center;
  align-items: center;
  display: flex;
  border-radius: 5px;
  padding: 1rem;
  font-weight: var(--weight-550);
}

.product_topping {
  min-height: 4rem;
}

.flex_wrap {
  flex-wrap: wrap;
}