.route {
  align-items: center;
  top: 120px;
  margin-left: 1rem;
  position: relative;
  margin-left: 8rem;
  padding-top: 2rem;
  z-index: 1;
}

.route>a {
  margin-right: 1rem;
  font-weight: var(--weight-550);
  cursor: pointer;
}

.product_detail {
  position: absolute;
  top: 150px;
  display: flex;
  min-height: 100vh;
}


.image_detail {
  margin-left: 5rem;
  width: 50%;
  padding: 50px;
}

.product_info {
  margin-top: 3rem;
  width: 50%;
}

.product__info__item__list__item {
  cursor: pointer;
  border: 1px solid black;
  width: 120px;
  height: 40px;
  margin: 1rem 1rem 1rem 0;
  justify-content: center;
  align-items: center;
  display: flex;
  border-radius: 10px;
  padding: 5px;
}

.button_add {
  width: 80%;
  background-color: hsl(37, 100%, 50%);
  font-weight: var(--weight-500);
  color: white;
}

.active {
  background-color: hsl(37, 100%, 50%);
  color: white;
}

.product__info__item__list__topping {
  cursor: pointer;
  border: 1px solid black;
  width: 300px;
  height: 40px;
  margin: 1rem 1rem 1rem 0;
  justify-content: center;
  align-items: center;
  display: flex;
  border-radius: 5px;
  padding: 5px;
  font-weight: var(--weight-550);
}

.product_topping {
  min-height: 4rem;
}

.flex_wrap {
  flex-wrap: wrap;
}