:root {
  --header-height: 4rem;

  --first-color: hsl(27, 29%, 88%);
  --first-color-light: hsl(43, 23%, 94%);
  --title-color: hsl(0, 0%, 9%);
  --text-color: hsl(0, 0%, 0%);
  --bg-color: hsl(0, 0%, 100%);
  --container-color: hsl(0, 0%, 6%);
  --hsla: hsla(0, 0%, 0%, 0.75);
  --header-color: hsl(0, 0%, 87%);
  --body-font: "Rubik", sans-serif;
  --second-font: "Lobster Two", cursive;
  --hover-text-color: hsl(34, 74%, 48%);


  --biggest-font-size: 4.125rem;
  --bigger-font-size: 3.125rem;
  --big-font-size: 2.5rem;
  --h1-font-size: 1.875rem;
  --h2-font-size: 1.75rem;
  --h3-font-size: 1.5rem;
  --h4-font-size: 1.25rem;
  --h5-font-size: 1rem;
  --largest-font-size: 1.375rem;
  --larger-font-size: 1.25rem;
  --large-font-size: 1.125rem;
  --normal-font-size: 1rem;

  --weight-400: 400;
  --weight-500: 500;
  --weight-600: 600;
  --weight-700: 700;

  --radius: 0.5rem;

  --transition: ease-in-out;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

}

input,
textarea,
body {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
}


body {
  color: var(--hsla);
  background-color: var(--bg-color);
}

h1,
h2,
h3 {
  font-family: var(--second-font);
  color: var(--title-color);
  font-weight: var(--weight-400);
}

ul {
  list-style: none;
}

p {
  line-height: 1.8;
}

a {
  text-decoration: none;
  display: inline-block;
  color: var(--title-color)
}

input,
textarea {
  border: none;
  outline: none;
}

img {
  max-width: 100%;
}

.container {
  margin-inline: auto;
  padding-inline: 0.75rem;
  background-color: var(--first-color);
  height: calc(var(--header-height));
}

.subcontainer {
  background-color: var(--first-color-light);
  height: calc(var(--header-height) - 1.25rem);
}

.loading {
  opacity: 0.5;
  position: absolute;
}

.active {
  display: flex;
  height: var(--header-height);
  justify-content: center;
  align-items: center;
  background-color: aquamarine;
}

.outlet_style {
  /* position: absolute; */
  /* top: 1000; */
  min-height: 120vh;
}

.body {
  position: relative;
}