:root {
  --header-height: 4rem;

  --first-color: hsl(27, 29%, 88%);
  --first-color-light: hsl(43, 23%, 94%);
  --title-color: hsl(0, 0%, 9%);
  --text-color: hsl(0, 0%, 0%);
  --bg-color: hsl(0, 0%, 100%);
  --container-color: hsl(0, 0%, 6%);
  --hsla: hsla(0, 0%, 0%, 0.75);
  --header-color: hsl(0, 0%, 87%);
  --body-font: "Rubik", sans-serif;
  --second-font: "Lobster Two", cursive;
  --hover-text-color: hsl(34, 100%, 58%);

  --button-color: hsl(37, 100%, 50%);

  --biggest-font-size: 4.125rem;
  --bigger-font-size: 3.125rem;
  --big-font-size: 2.5rem;
  --h1-font-size: 1.875rem;
  --h2-font-size: 1.75rem;
  --h3-font-size: 1.5rem;
  --h4-font-size: 1.25rem;
  --h5-font-size: 1rem;
  --largest-font-size: 1.375rem;
  --larger-font-size: 1.25rem;
  --large-font-size: 1.125rem;
  --normal-font-size: 1rem;
  --small-font-size: 0.75rem;
  --smaller-font-size: 0.5rem;

  --weight-400: 400;
  --weight-500: 500;
  --weight-500: 550;
  --weight-600: 600;
  --weight-700: 700;

  --radius: 0.5rem;

  --transition: ease-in-out;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

}

input,
textarea,
body {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
}


body {
  color: var(--hsla);
  background-color: var(--bg-color);
}

h1,
h2,
h3 {
  font-family: var(--second-font);
  color: var(--title-color);
  font-weight: var(--weight-400);
}

ul {
  list-style: none;
}

p {
  line-height: 1.8;
}

a {
  text-decoration: none;
  display: inline-block;
  color: var(--title-color)
}

input,
textarea {
  border: none;
  outline: none;
}

img {
  max-width: 100%;
}

.container {
  margin-inline: auto;
  padding-inline: 0.75rem;
  background-color: var(--first-color);
  height: calc(var(--header-height));
}

.subcontainer {
  background-color: var(--first-color-light);
  height: calc(var(--header-height) - 1.25rem);
}

.loading {
  opacity: 0.5;
  position: absolute;
  top: 100px;
  left: 100px;
}

.active {
  display: flex;
  height: var(--header-height);
  justify-content: center;
  align-items: center;
  background-color: aquamarine;
}

.outlet_style {
  position: relative;
}

.body {
  position: relative;
}

.d-flex {
  display: flex;
}

.cart_popup {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 70%;
  right: 1.5%;
  width: 3rem;
  height: 3rem;
  background-color: var(--hover-text-color);
  border-radius: 50%;
  cursor: pointer;
  z-index: 1;
  clear: both;
}

.skeleton {
  animation: skeleton-loading 1s linear infinite alternate;
}

.skeleton-text {
  width: 100%;
  height: 0.7rem;
  margin-bottom: 0.5rem;
  border-radius: 0.25rem;
}

@keyframes skeleton-loading {
  0% {
    background-color: hsl(200, 20%, 80%);
  }

  100% {
    background-color: hsl(200, 20%, 95%);
  }
}



html,
body {
  height: 100%;
  margin: 0;
}

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.content {
  flex: 1;
}

footer {
  flex-shrink: 0;
}

.error {
  color: red;
}

.button {
  background-color: var(--button-color);
  font-weight: var(--weight-500);
  color: white;

  &:hover {
    color: white !important;
  }
}